#root {
  display: flex;
  flex:1;
}
body{
  background-color: lightgrey;
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.App{
  display: flex;
  flex-direction: row;
  flex: 1;
}
.Panel{
  margin-top: 30px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.Formulario{
  background-color: #ffffff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    border-radius:10px;
    border:#333 solid 2px;
    margin: 5px;
}
.categoria{
    font-size: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border:#333 solid 2px;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}
#filtro{
    font-size: 15px;
    padding: 10px;
    color: #333;
    background-color: #ffffff;
    border-radius: 5px;
    margin-left: 18px;
}
.titulo{
    margin-bottom: 1px;
    margin-top: 11px;
    font-size: 30px;
}
#titulo{
    margin: 15px;
    padding: 12px;
    width: 250px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
select{
    font-size: 15px;
    padding: 10px;
    color: #333;
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 135px;
}
.crear{
    margin: 10px;
    color: white;
    background-color: #00BF63;
    padding: 10px 50px;
    border:#333 solid 2px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.Listado{
  display: flex;
  flex-direction: column;
  flex:1;
  width: 100%;
  align-items: center;
}
.arjeta{
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid grey;
  margin: 15px;
  width:70%;
  position: relative ;
}
.Tarjeta{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width:90%;
    border:#333 solid 2px;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.liminar{
  position: absolute;
  top: 10px;
  right: 10px;
  padding:3px 10px;
  color: white;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}
.Eliminar{
    width:20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
ion-icon {
    border-radius: 10px;
    font-size: 50px;
    color:white;
    background-color: red;
    padding: 10px;
    cursor: pointer;
  }
.estados{
    width: 30%;
    margin: 2px;
}
.nombre{
    width: 50%;
    font-size: 19px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    white-space: normal;
    overflow-wrap: break-word;
    
}
.tarea{ /* Para que el texto no sobrepase el limite del contenedor*/
    overflow: hidden;
}
@media (max-width: 768px) {
  .App{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  .Tarjeta{
    width: 100%;
  }
}